body {
  background-image: url('Medias/home_agachamento.jpg');
  background-size: cover;
}

footer {
  color: white;
  background-color: rgb(32, 32, 32);
  width: 100%;
  text-align: center;
  padding: 24px 84px;
  position: fixed;
  bottom: 28px;
  left: 0;
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer ul {
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}

footer li {
  padding-left: 0px !important;
}

footer .classe1 {
  order: 1;
  justify-content: left;
  display: flex;
  padding-left: 0px;
}

footer .classe2 {
  order: 2;
  display: block;
  text-align: left;
}

footer .classe3 {
  order: 3;
}

.classe4 {
  background-color: rgb(9, 9, 9);
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}

.right {
  text-align: right;
}

.bottom {
  bottom: -200px;
}